.modal_title {
  position: absolute;
  left: 0;
  top: 0;
  height: 54px;
  line-height: 54px;
  padding-left: 30px;
  color: #fff;
  text-align: left;
  background: #4e65a3;
  font-size: 1.077em;
  font-weight: 600;
  width: 100%;
  z-index: 2;
}
.custom-border {
  position: relative;
  z-index: 2;
  border-bottom: 3px solid transparent;
  margin-bottom: 0;
}
.active {
  border-color: #f38e35;
}
.custom-tab {
  color: #7d93b2;
  font-size: 1em;
  display: block;
  font-weight: 600;
  padding: 14px 0;
}

.custom_input {
  border: 1px solid #e5e7f2;
  background: #f9f9f9;
  width: 100%;
  padding: 15px 20px 15px 20px;
  border-radius: 4px;
  color: #7d93b2;
  font-size: 0.923em;
  -webkit-appearance: none;
  outline: none;
  overflow: hidden;
  z-index: 1;
}
.tab_container {
  width: 100%;
  margin-top: 10px;
  padding: 0 30px;
}
.custom-form {
  width: 100%;
  position: relative;
}
/* body {
    background-color: #000;
  }
  
  .card {
    width: 400px;
    border: none;
  }
  
  .btr {
    border-top-right-radius: 5px !important;
  }
  
  .btl {
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .nav-pills {
    display: table !important;
    width: 100%;
  }
  
  .nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd40;
  }
  
  .nav-item {
    display: table-cell;
    background: #0d6efd2e;
  }
  
  .form {
    padding: 10px;
    height: 300px;
  }
  
  .form input {
    margin-bottom: 12px;
    border-radius: 3px;
  }
  
  .form input:focus {
    box-shadow: none;
  }
  
  .form button {
    margin-top: 20px;
  }
   */
